extends layout

block content
	p.logout-button: a(href="/auth/logout") Log out
	p.link-portfolio: a(href="/test/#{user.id}") View Portfolio page
	if !user.job
		.box-one
			h1.header Build your portfolio page
			h1.tagline Hello, #{user.username}!
		.section-one
			h3.directions1
				|First let's post your background image,
				| and start to build your profile with your name and occupation 
		.section-two
			form(action='/file-upload', method='post', enctype="multipart/form-data", role="form")
				input(type="text", name='name' placeholder="Enter your name")
				input(type="text", name='job' placeholder='What is your job/hobby?')
				input(type="textarea", name='byline' placeholder='What sets you apart?')
		.section-three
				h3 Upload your hero image. This is the first image the user will see when they come to your page. 
		.section-four
				input(type="file", name='hero' placeholder="Enter your hero image")
				input(type='submit')

	else 
		//- h2 Upload pictures of your work to your profile page
		//- form(method='post', action='/file-upload', enctype="multipart/form-data", role="form")
		//- 	h3 Upload pictures to your profile
		//- 	input(type="file", name='pic' placeholder="Upload pictures to profile")
		h1 DASHBOARD
		h2 Hello, #{user.username}!
		.container-fluid
			.row
				.col-md-4
					.button-box
						button.add-images Add Images and Websites 
						button.add-skills Add Skills and Interests
						button.add-bio Bio - your about me page
						button.add-theme Select your theme

				.col-md-8
					.show-content
						.content-images.hidden.content
							form(action='/portfolio-upload', method='post', enctype="multipart/form-data", role="form")
								input(type="file", name='image' placeholder="Upload your image")
								input(type="text", name='url' placeholder="Enter the URL of your website")
								input(type="file", name='image' placeholder="Upload your image")
								input(type="text", name='url' placeholder="Enter the URL of your website")
								input(type='submit')
						.content-skills.hidden.content
						.content-bio.hidden.content
						.content-theme.hidden.content
		


block scripts
	script(src='/scripts/hide.js')
	
		
	