extends layout

block content
	//- Error comes through via the context passed when calling res.render('login', {...})
	//- You'll see this in controllers/authentication.js
	//- If the error exists, we'll display it.
	.container-fluid

	if error
		h3= error

	
	//- Form for handling existing user logins.
	.input-spacing.existing
		.top-main
			h2 Existing Users Login
			form(action="/auth/login", method="post")
				input(type="text", name="username", placeholder="Username")
				input(type="password", name="password", placeholder="Password")
				input.btn.btn-default(type="submit")
	.main
		h1 Welcome to Folio
		p Build your photography or design portfolio simply and for free
	//- Form for allowing new users to register.
	.input-spacing.register
		.bottom-main
			form(action="/auth/signup", method="post")
				input(type="text", name="username", placeholder="Username")
				input(type="email", name="email", placeholder="Email")
				input(type="password", name="password", placeholder="Password")
				input.btn.btn-default(type="submit")
			h2 Register a new account