extends layout

block content
	body(style="background-image: url('/uploads/#{user.hero}');")
		h1 The personal portfolio of #{user.username}
			.pictures
				ul
					for pic in user.portfolio
						li
							a(href="#{pic.url}")
							image(src="/uploads/#{pic.image}")
block scripts