body {
	font-family: 'Lato', sans-serif;
}

.hidden {
	visibility: hidden;
}

.content-images {
	height: 300px;
	width: 100%;
	background-color: rgba(142, 68, 173,1.0);
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 20px;
}

.content-skills{
	height: 300px;
	width: 100%;
	background-color: rgba(26, 188, 156,1.0);
	padding-top: 20px;
	padding-left: 50px;
}

.content-bio{
	height: 300px;
	width: 100%;
	padding-top: 30px;
	padding-left: 30px;
	background-color: rgba(41, 128, 185,1.0);
}

.content-theme{
	height: 300px;
	width: 100%;
	padding-top: 50px;
	padding-left: 50px;
	background-color: rgba(243, 156, 18,1.0);


}

.content-social {
	height: 300px;
	width: 100%;
	padding-top: 20px;
	padding-left: 50px;
	background-color: rgba(192, 57, 43,1.0);

}

/*_________Register page_______________*/
.main {
	height: 120px;
	width: 100%;
	background-color: #34495e;
	color: white;
	margin-top: -20px;
}

.top-main{
	padding-top: 30px;
}

.bottom-main {
	padding-top: 130px;
}

.login-header {
	font-size: 300%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
}

.tagline {
	display: inline-block;
	vertical-align: middle;
}

.existing {
	margin-top: -20px;
	text-align: center;
	color: black;
	background-color: #8e44ad;
	height: 320px;
	width: 100%; 
	-webkit-box-shadow: inset 2px -14px 39px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 2px -14px 39px 0px rgba(0,0,0,0.75);
	box-shadow: inset 2px -14px 39px 0px rgba(0,0,0,0.75);
}
				
.register {
	text-align: center;
	color: black;
	background-color: #3498db;
	height: 320px;
	width: 100%; 
	margin-top: -20px;
	-webkit-box-shadow: inset 2px 15px 39px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 2px 15px 39px 0px rgba(0,0,0,0.75);
	box-shadow: inset 2px 15px 39px 0px rgba(0,0,0,0.75);
}

.input-spacing {
/*margin-top: 50px;*/
}

/*________Initial sign in page________*/

.greeting {
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
	font-size: 350%;
}

.build{
	text-align: center;
	height: 70px;
	font-family: 'Lato', sans-serif;
	font-size: 500%;
	margin-top: 100px;
}

.box-one {
	height: 300px;
}

.section-one{
	text-align: center;
}

.section-two{
	background-color: blue;
	text-align: center;
	height: 100px;
	padding-top: 30px;
}

.directions2 {
	margin-top: 40px;
}

input {
	height: 40px;
}

.button {
	margin-top: 20px;
	clear: both;
}

.logout-button {
	text-align: center;
	width: 70px;
	height: 70px;
	color: white;
	background-color: rgba(46, 204, 113,1.0);
	display: inline-block;
	float: right;
	margin-right: 3px;
	margin-top: -15px;
}

.link-portfolio {
	text-align: center;
	font-size: 110%;
	width: 70px;
	height: 70px;
	color: white;
	background-color: rgba(46, 204, 113,1.0);
	display: inline-block;
	float: right;
	margin-right: 3px;
	margin-top: -15px;
}

a:link {
	color: inherit;
}

.navigate {
	display: inline-block;
}

/*________________Dashboard_________*/

.title-dashboard {
	color: white;
	font-size: 80px;
	background-color: blue;
	height: 100px;
	width: 500px;
}

.container-fluid {
	margin-top: 50px;
}

.textarea-styled {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}




.background-image {
	background-repeat: no-repeat;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*__________Bottom Display*/

.bottom-display {
	/*position: fixed;*/
    bottom: 0;
    width: 100%;
    background-color: rgba(236, 240, 241,1.0);

}

.display-images {
	/*height: 100px;*/
	min-height: 200px;
	width: 100%;
	max-width: 20%;
	display: inline-block;
	border-width: 3px;
	border-style: solid;
	border-color: rgba(142, 68, 173,1.0);
}
.display-skills {
	/*height: 100px;*/
	min-height: 200px;
	width: 100%;
	max-width: 19%;
	margin-left: 1%;
	display: inline-block;
	border-width: 3px;
	border-style: solid;
	border-color: rgba(26, 188, 156,1.0);
}
.display-bio {
	/*height: 100px;*/
	min-height: 200px;
	width: 100%;
	max-width: 19%;
	margin-left: 1%;
	display: inline-block;
	border-width: 3px;
	border-style: solid;
	border-color: rgba(41, 128, 185,1.0);
	clear:both;
}
.display-theme {
	/*height: 100px;*/
	min-height: 200px;
	width: 100%;
	max-width: 19%;
	margin-left: 1%;
	display: inline-block;
	border-width: 3px;
	border-style: solid;
	border-color: rgba(243, 156, 18,1.0);
}
.display-social {
	/*height: 100px;*/
	min-height: 200px;
	width: 100%;
	max-width: 19%;
	margin-left: 1%;
	display: inline-block;
	border-width: 3px;
	border-style: solid;
	border-color: rgba(192, 57, 43,1.0);
}

.display-social img {
	height: 70px;
	width: 70px;
}

.add {
	margin:2px;
	height:50px;
	width:130px;
}

label {
	display: inline;
}

.container-fluid {
    background-color: rgba(236, 240, 241,1.0);
}

